AWS_ACCOUNT_ID="<ACCOUNT ID>"
AWS_ACCESS_KEY_ID="<ACCESS KEY ID"
AWS_SECRET_ACCESS_KEY="<SECRET ACCESS KEY>"
PULUMI_CONFIG_PASSPHRASE_DEV="<PULUMI PASSPHRASE>"
PULUMI_CONFIG_PASSPHRASE_STAG="<PULUMI PASSPHRASE>"
PULUMI_CONFIG_PASSPHRASE_PROD="<PULUMI PASSPHRASE>"
PULUMI_CONFIG_PASSPHRASE_SHARED="<PULUMI PASSPHRASE>"
